[user]
	email = marvin.christe@posteo.de
	name = xi3k
[core]
        editor = nvim
[diff]
        tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
        tool = vimdiff2
[mergetool "vimdiff2"]
        path = nvim
