[core]
        editor = /opt/nvim.appimage
[alias]
        d = difftool
[diff]
        tool = nvimdiff
[difftool]
        prompt = false
[difftool "nvimdiff"]
	cmd = /opt/nvim.appimage -d $LOCAL $REMOTE
[merge]
        tool = vimdiff2
[mergetool "vimdiff2"]
        cmd = /opt/nvim.appimage
[credential]
	helper = store
[user]
	name = simachri
	email = marvin.christe@posteo.de
[pull]
	rebase = false
