[core]
        editor = nvim
[alias]
        d = difftool
[diff]
        tool = nvimdiff
[difftool]
        prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
        tool = vimdiff2
[mergetool "vimdiff2"]
        cmd = nvim
[credential]
	helper = store
[pull]
	rebase = false
[init]
	defaultBranch = master
